html{
  scroll-behavior: smooth;
}
body{
  background-color: #2d3748;
}
.content{
  width: 100%;
}
.main{
  width: 100%;
}
.editor{
  height: 50vh;
}
@media screen and (min-width:900px){
  .editor{
    height: 70vh;
  }
}
textarea:focus{
  outline: none;
}
textarea::placeholder{
  color:#48bb78
}
.react-codemirror2,.CodeMirror{
  height: 100%;
}